services:
  frontend:
    build: ./client
    container_name: numer-frontend
    ports:
      - 5173:5173
    depends_on:
      - backend
  backend:
    build: ./server
    container_name: numer-backend
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
    ports:
      - 3001:3001
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: numer-db
    restart: always
    env_file:
      - .env
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: